.display {
  text-align: center;
  border: 1px solid black;
  background-color: #bbb;
  height: 100px;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 75px;
}
